/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

/*typography*/

h2 {
  padding-bottom: var(--spacer-3);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-1);
}
p {
  padding-bottom: var(--spacer-3);
}

/*header*/

header {
  background-color: var(--secondary);
  padding: 5px 0px 5px;
  font-weight: var(--font-weight-heavy);
}

.title-header {
  color: #fff;
  align-self: center;
}

.main-header {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  font-size: var(--font-size-3);
  padding: var(--spacer-1) var(--spacer-3) var(--spacer-1);
}

header ul {
  list-style-type: none;
  display: flex;
  gap: var(--spacer-5);
}

header ul li {
  padding-bottom: 5px;
  margin-top: 7px;
}
header li.active {
  border-bottom-color: aliceblue;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
header ul li a {
  color: #fff;
  text-decoration: none;
}
.left-header,
.right-header {
  display: flex;
  align-self: center;
}
.image-header {
  padding-right: 15px;
  display: grid;
}
.image-header img {
  width: 35px;
}

.main-content,
.main-header {
  max-width: 1080px !important;
  margin: 0 auto;
}

/*content*/

.main-content {
  padding: var(--spacer-5) var(--spacer-3) var(--spacer-5);
}
.main-content p {
  font-size: var(--font-size-3);
}

.pets {
  display: flex;
  gap: var(--spacer-5);
  padding: var(--spacer-5) 0 var(--spacer-5);
}

.pet-box {
  width: 33%;
  display: flex;
}

.content {
  padding-bottom: var(--spacer-2);
}

.content-box {
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-2);
  padding: var(--spacer-3);
  box-shadow: var(--shadows);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background-color: var(--primary);
  text-align: center;
  padding: var(--spacer-2);
}
.learn-more a {
  color: var(--gray-4);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);
}
.button img {
  width: 15px;
}
.botton-icon {
  display: inline-block;
  padding: 0 var(--spacer-1) 0;
}

/*responsive style*/

@media only screen and (max-width: 767px) {
  .pets {
    flex-direction: column;
  }
  .pet-box {
    width: 100%;
  }

  .main-header {
    font-size: 15px;
  }

  .main-content {
    padding: var(--spacer-4) var(--spacer-3) var(--spacer-4);
  }

  .pets {
    padding: var(--spacer-4) 0 var(--spacer-4);
    gap: var(--spacer-4);
  }
}
